**.swp
**.swo
**.pkl
**.npy
**.pdb
!1A2K_l_b.pdb
!1A2K_r_b.pdb
**.DS_Store
**.dill

**.nfs*

__pycache__
runs
ckpts
wandb
.ipynb_checkpoints
src/visualization
visualization_results
env_list.txt
plots
datasets/DIPS/pairs_pruned/
datasets/DIPS/dips.zip
torchhub